<div class="center">
  <h1>Login</h1>
  <form action="process.php" method="POST">
    <div class="txt_field">
      <input name="username" type="text"[(ngModel)]="name" required>
      <span></span>
      <label>Username</label>
    </div>
    <div class="txt_field">
      <input name="password" type="text" [(ngModel)]="password" required>
      <span></span>
      <label>Password</label>
    </div>
    <div class="pass">Forgot Password?</div>
    <button type="submit" (click)="login()">Login</button>
    <div class="signup_link">
      <p>Not a member? <a >Signup</a></p>
    </div>
  </form>
</div>