<div class="application-info-div" id="application-info-div">
  <div class="icon-service" id="icon-service">
    <img src="https://i.gyazo.com/e979ec500531fff73e4de0eabd69dc73.png" height="120" width="120" title="Intert"
      class="img-icon-service">
  </div>

  <div class="text-application-info-div" id="text-application-info-div">
    <p class="title-text-application-info-div">Log in | Intert panel</p>

    <p class="description-text-application-info-div">Connection to Intert panel. Get access to the administration of
      your services, an access to the client support and to a community help center.</p>

    <p class="application-status"><span class="green-text">This application has been verified and is valid.</span></p>
  </div>
</div>

<div class="main-connection-div" id="main-connection-div">

  <div class="log-in-main-connection-div" id="log-in-main-connection-div">
    <p class="title-log-in-main-connection-div">Log in</p>

    <form>
      <div class="input-field col s6">
        <input type="text" id="username intert-textarea" class="validate">
        <label for="username">Username</label>
      </div>

      <div class="input-field col s6">
        <input type="text" id="password intert-textarea" class="validate">
        <label for="password">Password</label>
      </div>

      <a class="waves-effect waves-light btn-large"
        style="margin: 20px 0 0 30px; background: #0072ff; width: 45%; position: inherit;">Log in</a>

      <span class="remember-me-check">
        <input type="checkbox" id="remember-me" />
        <label for="remember-me" style="margin: 0; padding: 0 0 0 25px;">Remember me</label>
      </span>
    </form>

    <p class="password-forgotten">Password forgotten? <a style="cursor:pointer"
        onclick="intert.showPasswordForgotten()">Click here</a></p>
  </div>

  <div class="register-main-connection-div" id="register-main-connection-div">
    <p class="title-register-main-connection-div">Sign up</p>

    <form>
      <div class="input-field col s6">
        <input type="text" id="username intert-textarea" class="validate">
        <label for="username">E-mail</label>
      </div>

      <div class="input-field col s6">
        <input type="text" id="password intert-textarea" class="validate">
        <label for="password">Password</label>
      </div>

      <a class="waves-effect waves-light btn-large"
        style="margin: 20px 0 0 30px; background: #0072ff; width: 45%; position: inherit;">Sign up</a>
    </form>
  </div>

</div>


<div class="cookies-used" id="cookies-used">
  <span class="text-cookies-used">This website does not use cookies for tracking. They are only used for a better
    experience on its services. For more information on what types of cookies are stored, please contact the
    support.</span>
</div>

<div class="password-reset-div" id="password-reset-div">

  <span class="black-complete-background"></span>

  <div class="content-password-reset-div" id="content-password-reset-div">
    <div class="title-content-password-reset-div">
      Reset your password
    </div>

    <div class="content-content-password-reset-div">
      <span class="text-content-content-password-reset-div">
        To reset your password, enter the e-mail you used while creating your account.
      </span>

      <div class="input-field col s6">
        <input id="email-rp" type="text" class="validate">
        <label for="email-rp">E-mail address</label>
      </div>

      <a class="waves-effect waves-light btn" style="background: #0072ff; margin: 5px 0 0 0;">Send reset link</a>


      <div class="options-alert" id="options-alert">
        <span class="right-options-alert">
          <a href="#" onclick="intert.closePF()">Cancel</a>
        </span>
      </div>
    </div>
  </div>

</div>