<header>
    <div class="header_middle">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 col-md-12">
                    <div class="logo text-center">
                        <a routerLink="/"><img src="assets/img/logo/logo.png" alt="exporso logo" style="width: 177px;"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header_bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-12">
                    <div class="menu d-none d-lg-block">
                        <nav>
                          <ul class="d-flex justify-content-center">
                              <li><a routerLink="/">HOME </a></li>
                              <li><a routerLink="/location">location</a></li>
                              <li><a routerLink="/register-dealer">Register<i class="zmdi zmdi-chevron-down"></i></a>
                                  <ul class="sub_menu">
                                    <li><a routerLink="/register-dealer">Dealer</a></li>
                                    <li><a routerLink="/register-customer">Customer</a></li>
                                  </ul>
                              </li>
                              <li><a routerLink="/login">login</a></li>
                          </ul>
                        </nav>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</header>
